/************/
/* VARIABLES*/
/************/

$primaryFont: 'Great Vibes', cursive;
$secondaryFont: 'Cabin', sans-serif;
$accentColor: #FDC800;
$blackShade: #232323;
$backgroundColor: #EAEDF4;
$whiteShade: #F8F8F8;
